@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

h5, h3 {
  font-family: Shrikhand, sans-serif;
}

h3 {
  font-size: x-large;
}

h4 {
  font-size: larger;
  padding-bottom: 5px;
}

/*En tête*/
header {
  text-align: center;
  box-shadow: 0px 2px 2px #D4D4D4;
  position: relative;
}
header .logo {
  margin: 10px;
  width: 50%;
}
@media screen and (min-width: 768px) {
  header .logo {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  header .logo {
    width: 25%;
  }
}

.headermenu {
  display: flex;
  justify-content: center;
}
.headermenu .arrow {
  color: black;
  position: absolute;
  left: 20px;
  top: 20px;
}
@media screen and (min-width: 768px) {
  .headermenu .arrow {
    top: 20px;
    font-size: x-large;
  }
}
@media screen and (min-width: 992px) {
  .headermenu .arrow {
    top: 25px;
    font-size: x-large;
  }
}

/*Footer*/
footer {
  background-color: #3B3B3B;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  footer {
    text-align: center;
  }
}
footer h5 {
  color: white;
  font-size: large;
  padding-bottom: 20px;
  margin: 0px;
}
footer div {
  display: flex;
  flex-direction: column;
}
footer div .mentions {
  color: white;
  padding: 5px 0 10px 0;
  cursor: pointer;
  text-decoration: none;
}
footer div .mentions .iconsfooter {
  padding-right: 5px;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  -webkit-animation: loader 1000ms;
          animation: loader 1000ms;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border: 30px solid #9356DC;
  -o-border-image: linear-gradient(#FF79DA, #9356DC);
     border-image: linear-gradient(#FF79DA, #9356DC);
  border-image-slice: 1;
  font-size: 90px;
  -webkit-animation: turn 5000ms;
          animation: turn 5000ms;
}

/*Carte*/
.picturemenu {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -40px;
  background-color: #ededed;
  border-radius: 25px 25px 0 0;
  padding: 10px;
  position: relative;
}
.menu .titleresto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.menu .titleresto .heartcard {
  font-size: x-large;
  padding: 5px;
  cursor: pointer;
  color: black;
  transform: scale(1);
}
.menu .titleresto .heartcard:hover {
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(1.3);
  transition: all 400ms ease-in-out;
}

@media screen and (min-width: 992px) {
  .card_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.card_menu .title p {
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .card_menu .title {
    width: 33%;
  }
}
.card_menu .title .title_menu {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
  cursor: pointer;
  transform: scale(0);
  -webkit-animation: appear 3s;
          animation: appear 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.card_menu .title .title_menu .title_menu_padding {
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.card_menu .title .title_menu .title_menu_padding .mapsmenu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_menu .title .title_menu .title_menu_padding .mapsmenu h4, .card_menu .title .title_menu .title_menu_padding .mapsmenu p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_menu .title .title_menu .title_menu_padding .mapsmenu_price {
  display: flex;
  align-items: flex-end;
}
.card_menu .title .title_menu .title_menu_padding .mapsmenu_price p {
  font-weight: bold;
  margin: 0;
}
.card_menu .title .title_menu .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 100px;
  margin-right: -100px;
  transition-duration: 500ms;
}
.card_menu .title .title_menu:hover .check {
  margin: 0;
}
.card_menu .title .title_menu .check_rotate {
  font-size: xx-large;
  color: white;
}
.card_menu .title .title_menu:hover .check_rotate {
  transform: rotate(360deg);
  transition: 500ms;
}
.card_menu .title .delay-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.card_menu .title .delay-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.card_menu .title .delay-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

/*Section1*/
.section1 {
  text-align: center;
  background-color: #ededed;
  padding: 15px;
}
.section1 .maps {
  padding-right: 20px;
}

/*Section2*/
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F5F5F5;
  padding: 30px;
}

/*Section3*/
.section3 {
  margin: 0px 15px 0px 15px;
}
@media screen and (min-width: 992px) {
  .section3 .functioning {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.section3 .functioning .choice {
  display: flex;
  align-items: center;
  margin: 0 10px 25px 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
  text-align: center;
  font-size: large;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .section3 .functioning .choice {
    width: 30%;
  }
}
.section3 .functioning .choice .numb {
  font-size: small;
  background-color: #9356DC;
  color: white;
  width: 17px;
  border-radius: 100px;
  padding: 2px;
  margin-left: -8px;
}
.section3 .functioning .choice .icons {
  margin: 20px;
}
.section3 .functioning .choice_colorgrey {
  background-color: #F5F5F5;
}
.section3 .functioning .choice_color {
  background-color: #F2E2FF;
}
.section3 .functioning .choice_color .icons {
  color: #9356DC;
}

/*Section4*/
.section4 {
  background-color: #F5F5F5;
  height: 1140px;
}
@media screen and (min-width: 992px) {
  .section4 {
    height: 650px;
  }
}
.section4 h2 {
  padding: 40px 0 0 20px;
}
.section4 .globalcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .section4 .globalcard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.section4 .globalcard .card {
  display: block;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 5px grey;
  text-decoration: none;
  width: 90%;
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .section4 .globalcard .card {
    width: 45%;
  }
}
.section4 .globalcard .card .imgsection3 {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section4 .globalcard .card .new-1 {
  position: absolute;
  right: 10%;
  padding: 10px;
  background-color: #99E2D0;
  color: #2B7D57;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .section4 .globalcard .card .new-1 {
    right: 55%;
  }
}
.section4 .globalcard .card .new-2 {
  position: absolute;
  right: 10%;
  padding: 10px;
  background-color: #99E2D0;
  color: #2B7D57;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .section4 .globalcard .card .new-2 {
    right: 5%;
  }
}
.section4 .globalcard .card .cardvue {
  padding: 10px;
  display: flex;
  align-items: center;
  color: black;
}
.section4 .globalcard .card .cardvue .name {
  flex: 1;
}
.section4 .globalcard .card .cardvue .name h4 {
  font-size: large;
  margin: 5px;
}
.section4 .globalcard .card .cardvue .name p {
  margin: 5px;
}
.section4 .globalcard .card .heart {
  font-size: x-large;
  padding: 5px;
  cursor: pointer;
  color: black;
  transform: scale(1);
}
.section4 .globalcard .card .heart:hover {
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(1.3);
  transition: all 400ms ease-in-out;
}

button {
  padding: 15px;
  border: 0px;
  border-radius: 25px;
  box-shadow: 3px 3px 5px grey;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1);
  transition-duration: 500ms;
}
button:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #363636;
}

.buttoncard {
  display: flex;
  justify-content: center;
  padding: 30px;
}

span {
  -webkit-text-decoration: underline 4px #99E2D0;
          text-decoration: underline 4px #99E2D0;
  padding-left: 15px;
  text-underline-offset: 9px;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes turn {
  0% {
    transform: rotate(720deg);
  }
}
@keyframes turn {
  0% {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */