button
{
    padding: 15px;
    border: 0px;
    border-radius: 25px;
    box-shadow: $boxshadow;
    background-image: $backgroundbutton;
    color: $color;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 500ms;
    &:hover
    {
        filter: brightness(1.1);
        transform: scale(1.05);
        box-shadow:$buttonhover;
    }
}
.buttoncard
{
    display: flex;
    justify-content: center;
    padding: 30px;
}
span
{
    text-decoration: underline 4px $tertiary;
    padding-left: 15px;
}
