$primary: #9356DC;
$secondary: #FF79DA;
$tertiary:#99E2D0;
$paris: #ededed;
$background: #F5F5F5;
$backgroundbutton: linear-gradient($secondary, $primary);
$backfonction: $secondary 0.5;
$backcard: white;
$backfooter: #3B3B3B;
$color: white;
$colorcard: black;
$boxshadow:3px 3px 5px grey;