/*En tête*/
header
{
    text-align: center;
    box-shadow: 0px 2px 2px #D4D4D4;
    position: relative;
    .logo
    {
        margin: 10px;
        width: 50%;
    }
}

.headermenu
{
    display: flex;
    justify-content: center;
    .arrow
    {
        color: $colorcard;
        position: absolute;
        left: 20px;
        top: 20px;
    }
}

/*Footer*/
footer
{
    background-color: $backfooter;
    padding: 20px;
    h5
    {
        color: $color;
        font-size: large;
        padding-bottom: 20px;
        margin: 0px;
    }
    div
    {
        display: flex;
        flex-direction: column;
        .mentions
        {
            color: $color;
            padding: 5px 0 10px 0;
            cursor: pointer;
            text-decoration: none;
            .iconsfooter
            {
                padding-right: 5px;
            }
        }
    }
}

.loader
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color;
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: loader 1000ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
    &::after
    {
        content: "";
        height: 100px;
        width: 100px;
        border: 30px solid $primary;
        border-image: $backgroundbutton;
        border-image-slice: 1;
        font-size: 90px;
        animation: turn 5000ms;
    }
}