.location
{
    text-align: center;
    background-color: $paris;
    padding: 15px;
    .maps
    {
        padding-right: 20px;
    }
}
/*Section1*/
.section1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background;
    padding: 30px;
}

/*Section2*/
.section2
{
    margin: 0px 15px 0px 15px;
    .functioning
    {
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .choice
        {
            display: flex;
            align-items: center;
            margin: 0 10px 25px 10px;
            border-radius: 15px;
            box-shadow: $boxshadow;
            text-align: center;
            font-size: large;
            @media screen and (min-width: 992px) {
                width: 30%;
            }
            .numb
            {
                font-size: small;
                background-color: $primary;
                color: $color;
                width: 19px;
                border-radius: 100px;
                padding: 2px;
                margin-left: -8px ;
            }
            .icons
            {
                margin: 20px;
            }
        }
        .choice_colorgrey
        {
            background-color: $background;
        }
        .choice_color
        {
            background-color: #F2E2FF;
            .icons
            {
                color: $primary;
            }
        }
    }
}    
/*Section3*/
.section3
{
    background-color: $background;
    height: 1140px;
    @media screen and (min-width: 992px) {
        height: 650px;
    }
    h2
    {
        padding: 40px 0 0 20px;
    }
    .globalcard
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .card
        {
            display: block;
            background-color: $color;
            border-radius: 25px;
            box-shadow: $boxshadow;
            text-decoration: none;
            width: 90%;
            margin-bottom: 25px;
            @media screen and (min-width: 992px) {
                width: 45%;
            }
            .imgsection3
            {
                border-radius: 25px 25px 0 0;
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .new-1
            {
                position: absolute;
                right: 10%;
                padding: 10px;
                background-color: $tertiary;
                color: #2B7D57;
                font-weight: bold;
                @media screen and (min-width: 992px) {
                    right: 55%;
                }
            }
            .new-2
            {
                position: absolute;
                right: 10%;
                padding: 10px;
                background-color: $tertiary;
                color: #2B7D57;
                font-weight: bold;
                @media screen and (min-width: 992px) {
                    right: 5%;
                }
            }
            .cardvue
            {
                padding: 10px;
                display: flex;
                align-items: center;
                color: $colorcard;
                .name
                {
                    flex: 1;
                    h4
                    {
                        font-size: large;
                        margin: 5px;
                    }
                    p
                    {
                        margin: 5px;
                    }
                }
            }
            .heart
            {
                font-size:x-large;
                padding: 5px;
                cursor: pointer;
                color: $colorcard;
                transform: scale(1);
                &:hover
                {
                    font-weight: bold;
                    background: $backgroundbutton;
                    background-clip: text;
                    color: transparent;
                    transform: scale(1.3);
                    transition: all 400ms ease-in-out;
                }
            }
        }
    }
}