/*Section1*/
.section1
{
    text-align: center;
    background-color: $paris;
    padding: 15px;
    .maps
    {
        padding-right: 20px;
    }
}
/*Section2*/
.section2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background;
    padding: 30px;
}

/*Section3*/
.section3
{
    margin: 0px 15px 0px 15px;
    .choice
    {
        display: flex;
        align-items: center;
        margin: 0 10px 25px 10px;
        background-color: $background;
        border-radius: 15px;
        box-shadow: $boxshadow;
        text-align: center;
        font-size: large;
        cursor: pointer;
        transform: scale(1);
        transition-duration: 300ms;
        &:hover
        {
            background-color: #E9DFFF;
            transform: scale(1.02);
        }
        &:hover .icons
        {
            color: $primary;
        }
        
        .numb
        {
            font-size: small;
            background-color: $primary;
            color: $color;
            width: 17px;
            border-radius: 100px;
            padding: 2px;
            margin-left: -8px ;
        }
        .icons
        {
            margin: 20px;
        }
    }
}    
/*Section4*/
.section4
{
    background-color: $background;
    height: 1070px;
    h2
    {
        padding: 20px 0 0 20px;
    }
    .card
    {
        display: block;
        background-color: $color;
        border-radius: 25px;
        box-shadow: $boxshadow;
        text-decoration: none;
        width: 90%;
        margin: 20px;
        .imgsection3
        {
            border-radius: 25px 25px 0 0;
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
        .new
        {
            position: absolute;
            display: block;
            right: 50px;
            padding: 10px;
            background-color: $tertiary;
            color: #2B7D57;
            font-weight: bold;
        }
        .cardvue
        {
            padding: 10px;
            display: flex;
            align-items: center;
            color: $colorcard;
            .name
            {
                flex: 1;
                h4
                {
                    font-size: large;
                    margin: 5px;
                }
                p
                {
                    margin: 5px;
                }
            }
        }
        .heart
        {
            font-size:x-large;
            padding: 5px;
            cursor: pointer;
            color: $colorcard;
            transform: scale(1);
            &:hover
            {
                font-weight: bold;
                background: $backgroundbutton;
                background-clip: text;
                color: transparent;
                transform: scale(1.2);
                transition: all 400ms ease-in-out;
            }
        }
    }
}